<div fxLayout="column">
  <button (click)="salva()" class="favIcon" mat-fab aria-label="Salva il progetto">
    <mat-icon>save</mat-icon>
  </button>
<!--
  c_proj: String;
  d_proj: String;
  nome_pm: String;
  effort: number;
  d_inizio: Date;
  d_fine: Date;
-->
  <form class="container" [formGroup]="formGroup">
   
    <table width="100%" cellspacing="10" cellpadding="0">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="Codice Progetto" formControlName="c_proj"  #c_proj />
            <mat-error *ngIf="formGroup.get('c_proj').invalid && formGroup.get('c_proj').touched">
              <span>Il Codice Progetto  è <strong>obbligatorio</strong></span>
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width">
              <input matInput placeholder="Descrizione Progetto" formControlName="d_proj"  #firstName/>
              <mat-error *ngIf="formGroup.get('d_proj').invalid && formGroup.get('d_proj').touched">
                <span>Il campo descrizione progetto è <strong>obbligatorio</strong></span>
              </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="Nome Capo Progetto" formControlName="nome_pm" #nome_pm />
            <mat-error *ngIf="formGroup.get('nome_pm').invalid && formGroup.get('nome_pm').touched">
              <span>La Nome Project Manager <strong>obbligatorio</strong></span>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr *ngIf="id">
        <td colspan="2">
            <div class="container"  fxLayout="row"  fxLayoutAlign="start start"  *ngIf="!isNew" >
              <p class="actionLabel">Altre Azioni:</p>
              <button mat-button (click)="delete()">[Elimina Progetto]</button>
            </div>
        </td>
      </tr>
    </table>
  </form>
</div>