/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.snackbar-background-error {
  background-color: rgb(151, 21, 21) !important;
}

.snackbar-background-info {
  background-color: rgb(2, 65, 2) !important;
}

